build/
*.bak
*.obj
*.obj
*.tlog
*.pdb
*.pdb
*.obj
*.tlog
*.log
*.ilk
*.tlog
*.obj
*.pdb
*.lib
*.idb
*.vcxproj
*.filters
*.user
*.sln
*.cmake
*.exe
x64/
.vs/
.vscode/
buildCopy/
build_backup
CmakeFiles/
release/
debug/
packages/
shaders/debugging/
New Text Document.txt
debug/
build/
Projects/
debuggers/
external/
compile.bat